## Buy Now, Pay Later Project
### MAST30034: Applied Data Science 
#### Notebook 1: Preprocessing Data

In [1]:
# create modeling spark session
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.appName('Project 2 test')
    .config('spark.sql.repl.eagerEval.enabled', True) 
    .config('spark.sql.parquet.cacheMetadata', 'true')
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.executor.memory", "8g")
    .config("spark.driver.memory", "8g")
    .getOrCreate()
)

#### Merchant Dataset:

In [2]:
# read merchants data
merchants = spark.read.parquet('../data/tables/tbl_merchants.parquet')
merchants.limit(5)

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
+--------------------+--------------------+------------+

In [3]:
# In the coloumn "tags", tags, renueve level and "take_rate" are seperated by either "), (" or "], [", replace these by ### for splitting
from pyspark.sql import functions as F
merchants = merchants.withColumn("tags",F.regexp_replace(F.regexp_replace(
    F.col("tags"),"\){1},{1}\s?\(","###"),"\]{1},{1}\s?\[","###"))

In [4]:
# check if correctly replaced
merchants.select("tags").show(10, False)

+---------------------------------------------------------------------------------------------------------------+
|tags                                                                                                           |
+---------------------------------------------------------------------------------------------------------------+
|((furniture, home furnishings and equipment shops, and manufacturers, except appliances###e###take rate: 0.18))|
|([cable, satellite, and otHer pay television and radio services###b###take rate: 4.22])                        |
|([jewelry, watch, clock, and silverware shops###b###take rate: 4.40])                                          |
|([wAtch, clock, and jewelry repair shops###b###take rate: 3.29])                                               |
|([music shops - musical instruments, pianos, and sheet music###a###take rate: 6.33])                           |
|[(gift, card, novelty, and souvenir shops###a###take rate: 6.34)]                                              |
|[(computers, comPUter peripheral equipment, and softwAre###b###take rate: 4.32)]                               |
|[[watch, clock, and jewelry repair shops###c###take rate: 2.39]]                                               |
|([computer programming , data processing, and integrated systems design services###a###take rate: 5.71])       |
|[(furniture, home furnishings and equipment shopS, and manufacturers, except appliances###a###take rate: 6.61)]|
+---------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [5]:
# split tags data to three columns, denoted as business_area, revenue_level and take_rate
split_merchants = merchants.withColumn("business_area", F.split(F.col("tags"), "###").getItem(0))\
                           .withColumn("revenue_level", F.split(F.col("tags"), "###").getItem(1))\
                           .withColumn("take_rate", F.split(F.col("tags"), "###").getItem(2))

In [6]:
split_merchants.limit(5)

+--------------------+--------------------+------------+--------------------+-------------+-----------------+
|                name|                tags|merchant_abn|       business_area|revenue_level|        take_rate|
+--------------------+--------------------+------------+--------------------+-------------+-----------------+
|       Felis Limited|((furniture, home...| 10023283211|((furniture, home...|            e|take rate: 0.18))|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|([cable, satellit...|            b|take rate: 4.22])|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|([jewelry, watch,...|            b|take rate: 4.40])|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|([wAtch, clock, a...|            b|take rate: 3.29])|
| Enim Condimentum PC|([music shops - m...| 10192359162|([music shops - m...|            a|take rate: 6.33])|
+--------------------+--------------------+------------+--------------------+-------------+-----------------+

In [7]:
# remove remaining ()[] punctuation in column business_area and take_rate

# obtain take rate in numeric form from take_rate column, 
# in the form of take rate: d.dd, therefore item 1 is the numeric value

# convert string in business_area to lower form

# convert string in revenue_level to lower form, just in case if there's a typo

curated_merchant = split_merchants\
            .withColumn("business_area", F.regexp_replace("business_area", "[\[\]\(\)]", ""))\
            .withColumn("take_rate", F.regexp_replace("take_rate", "[\[\]\(\)]", ""))\
            .withColumn("take_rate", F.split(F.col("take_rate"), ":").getItem(1))\
            .withColumn("business_area", F.lower(F.col('business_area')))\
            .withColumn("revenue_level", F.lower(F.col('revenue_level')))


final_merchant = curated_merchant.drop('tags')

In [8]:
final_merchant

+--------------------+------------+--------------------+-------------+---------+
|                name|merchant_abn|       business_area|revenue_level|take_rate|
+--------------------+------------+--------------------+-------------+---------+
|       Felis Limited| 10023283211|furniture, home f...|            e|     0.18|
|Arcu Ac Orci Corp...| 10142254217|cable, satellite,...|            b|     4.22|
|    Nunc Sed Company| 10165489824|jewelry, watch, c...|            b|     4.40|
|Ultricies Digniss...| 10187291046|watch, clock, and...|            b|     3.29|
| Enim Condimentum PC| 10192359162|music shops - mus...|            a|     6.33|
|       Fusce Company| 10206519221|gift, card, novel...|            a|     6.34|
|Aliquam Enim Inco...| 10255988167|computers, comput...|            b|     4.32|
|    Ipsum Primis Ltd| 10264435225|watch, clock, and...|            c|     2.39|
|Pede Ultrices Ind...| 10279061213|computer programm...|            a|     5.71|
|           Nunc Inc.| 10323485998|furniture, home f...|            a|     6.61|
|Facilisis Facilis...| 10342410215|computers, comput...|            a|     6.34|
|      Odio Institute| 10346855916|equipment, tool, ...|            b|     3.57|
|    Rutrum Justo Ltd| 10364012396|music shops - mus...|            b|     3.63|
|   Tellus Foundation| 10385011947|artist supply and...|            b|     3.17|
|      Sed Et Company| 10385163239|florists supplies...|            a|     6.61|
|              Id Ltd| 10385250025|computers, comput...|            a|     5.54|
|Consequat Foundation| 10404542215|antique shops - s...|            a|     6.93|
|Sit Amet Nulla Corp.| 10430380319|motor vehicle sup...|            b|     4.97|
|Massa Vestibulum ...| 10441711491|motor vehicle sup...|            a|     5.77|
|       Ut Consulting| 10462560289|gift, card, novel...|            c|     2.95|
+--------------------+------------+--------------------+-------------+---------+
only showing top 20 rows

In [9]:
# check if revenue_level match levels (5 types) and count for the number of merchants in each level
final_merchant.groupby('revenue_level').count()

+-------------+-----+
|revenue_level|count|
+-------------+-----+
|            e|   53|
|            d|   98|
|            c|  922|
|            b| 1351|
|            a| 1602|
+-------------+-----+

In [58]:
final_merchant.write.mode('overwrite').parquet("../data/curated/merchant.parquet")

In [11]:
# check for different business area count 
final_merchant.groupby('business_area').count().sort("business_area")

+--------------------+-----+
|       business_area|count|
+--------------------+-----+
|antique shops -  ...|    3|
|antique shops - s...|    2|
|antique shops - s...|  124|
|art dealers and  ...|    1|
|art dealers and g...|  111|
|artist supply  an...|    3|
|artist supply and...|    2|
|artist supply and...|    1|
|artist supply and...|  187|
|bicycle  shops - ...|    1|
|bicycle shops  - ...|    3|
|bicycle shops -  ...|    2|
|bicycle shops - s...|    1|
|bicycle shops - s...|  163|
|books,  periodica...|    3|
|books, periodical...|    5|
|books, periodical...|    5|
|books, periodical...|  151|
|cable,  satellite...|    3|
|cable, satellite,...|    2|
+--------------------+-----+
only showing top 20 rows

Noticed that there are several entries which have the same beginning of business area, to check if they are indeed the same, we convert the "business_area" as list and print them as follows

In [12]:
final_merchant.groupby('business_area').count().sort("business_area").select("business_area").collect()

[Row(business_area='antique shops -  sales, repairs, and restoration services'),
 Row(business_area='antique shops - sales,  repairs, and restoration services'),
 Row(business_area='antique shops - sales, repairs, and restoration services'),
 Row(business_area='art dealers and  galleries'),
 Row(business_area='art dealers and galleries'),
 Row(business_area='artist supply  and craft shops'),
 Row(business_area='artist supply and  craft shops'),
 Row(business_area='artist supply and craft  shops'),
 Row(business_area='artist supply and craft shops'),
 Row(business_area='bicycle  shops - sales and service'),
 Row(business_area='bicycle shops  - sales and service'),
 Row(business_area='bicycle shops -  sales and service'),
 Row(business_area='bicycle shops - sales and  service'),
 Row(business_area='bicycle shops - sales and service'),
 Row(business_area='books,  periodicals, and newspapers'),
 Row(business_area='books, periodicals,  and newspapers'),
 Row(business_area='books, periodicals, and  newspapers'),
 Row(business_area='books, periodicals, and newspapers'),
 Row(business_area='cable,  satellite, and other pay television and radio services'),
 Row(business_area='cable, satellite, and  other pay television and radio services'),
 Row(business_area='cable, satellite, and other  pay television and radio services'),
 Row(business_area='cable, satellite, and other pay  television and radio services'),
 Row(business_area='cable, satellite, and other pay television and  radio services'),
 Row(business_area='cable, satellite, and other pay television and radio  services'),
 Row(business_area='cable, satellite, and other pay television and radio services'),
 Row(business_area='computer programming ,  data processing, and integrated systems design services'),
 Row(business_area='computer programming , data  processing, and integrated systems design services'),
 Row(business_area='computer programming , data processing,  and integrated systems design services'),
 Row(business_area='computer programming , data processing, and integrated  systems design services'),
 Row(business_area='computer programming , data processing, and integrated systems  design services'),
 Row(business_area='computer programming , data processing, and integrated systems design  services'),
 Row(business_area='computer programming , data processing, and integrated systems design services'),
 Row(business_area='computers,  computer peripheral equipment, and  software'),
 Row(business_area='computers,  computer peripheral equipment, and software'),
 Row(business_area='computers, computer  peripheral equipment, and software'),
 Row(business_area='computers, computer peripheral  equipment, and software'),
 Row(business_area='computers, computer peripheral equipment,  and software'),
 Row(business_area='computers, computer peripheral equipment, and  software'),
 Row(business_area='computers, computer peripheral equipment, and software'),
 Row(business_area='digital  goods: books, movies, music'),
 Row(business_area='digital goods:  books, movies, music'),
 Row(business_area='digital goods: books,  movies, music'),
 Row(business_area='digital goods: books, movies, music'),
 Row(business_area='equipment,  tool, furniture, and appliance rent al and leasing'),
 Row(business_area='equipment, tool, furniture,  and appliance rent al and leasing'),
 Row(business_area='equipment, tool, furniture, and appliance  rent al and leasing'),
 Row(business_area='equipment, tool, furniture, and appliance rent  al and leasing'),
 Row(business_area='equipment, tool, furniture, and appliance rent al  and leasing'),
 Row(business_area='equipment, tool, furniture, and appliance rent al and  leasing'),
 Row(business_area='equipment, tool, furniture, and appliance rent al and leasing'),
 Row(business_area='florists  supplies, nursery stock, and flowers'),
 Row(business_area='florists supplies,  nursery stock, and flowers'),
 Row(business_area='florists supplies, nursery  stock, and flowers'),
 Row(business_area='florists supplies, nursery stock,  and flowers'),
 Row(business_area='florists supplies, nursery stock, and  flowers'),
 Row(business_area='florists supplies, nursery stock, and flowers'),
 Row(business_area='furniture,  home furnishings and equipment shops, and manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings  and equipment shops, and manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings and  equipment shops,  and manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings and  equipment shops, and manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings and equipment  shops, and manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings and equipment shops,  and manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings and equipment shops, and  manufacturers, except appliances'),
 Row(business_area='furniture, home furnishings and equipment shops, and manufacturers,  except appliances'),
 Row(business_area='furniture, home furnishings and equipment shops, and manufacturers, except  appliances'),
 Row(business_area='furniture, home furnishings and equipment shops, and manufacturers, except appliances'),
 Row(business_area='gift, card,  novelty, and souvenir shops'),
 Row(business_area='gift, card, novelty,  and souvenir shops'),
 Row(business_area='gift, card, novelty, and  souvenir shops'),
 Row(business_area='gift, card, novelty, and souvenir shops'),
 Row(business_area='health  and beauty spas'),
 Row(business_area='health and beauty spas'),
 Row(business_area='hobby,  toy  and game shops'),
 Row(business_area='hobby,  toy and game shops'),
 Row(business_area='hobby, toy  and game shops'),
 Row(business_area='hobby, toy and  game shops'),
 Row(business_area='hobby, toy and game  shops'),
 Row(business_area='hobby, toy and game shops'),
 Row(business_area='jewelry, watch,  clock, and silverware shops'),
 Row(business_area='jewelry, watch, clock, and  silverware shops'),
 Row(business_area='jewelry, watch, clock, and silverware shops'),
 Row(business_area='lawn and  garden supply  outlets, including nurseries'),
 Row(business_area='lawn and  garden supply outlets, including nurseries'),
 Row(business_area='lawn and garden  supply outlets, including nurseries'),
 Row(business_area='lawn and garden supply  outlets, including nurseries'),
 Row(business_area='lawn and garden supply outlets,  including nurseries'),
 Row(business_area='lawn and garden supply outlets, including  nurseries'),
 Row(business_area='lawn and garden supply outlets, including nurseries'),
 Row(business_area='motor  vehicle supplies and new parts'),
 Row(business_area='motor vehicle  supplies and new parts'),
 Row(business_area='motor vehicle supplies  and new parts'),
 Row(business_area='motor vehicle supplies and  new parts'),
 Row(business_area='motor vehicle supplies and new parts'),
 Row(business_area='music  shops - musical instruments, pianos, and sheet music'),
 Row(business_area='music shops  - musical instruments, pianos, and sheet music'),
 Row(business_area='music shops -  musical instruments, pianos, and sheet music'),
 Row(business_area='music shops - musical  instruments, pianos, and sheet music'),
 Row(business_area='music shops - musical instruments,  pianos, and sheet music'),
 Row(business_area='music shops - musical instruments, pianos,  and sheet music'),
 Row(business_area='music shops - musical instruments, pianos, and sheet  music'),
 Row(business_area='music shops - musical instruments, pianos, and sheet music'),
 Row(business_area='opticians,  optical goods, and eyeglasses'),
 Row(business_area='opticians, optical  goods, and eyeglasses'),
 Row(business_area='opticians, optical goods,  and eyeglasses'),
 Row(business_area='opticians, optical goods, and  eyeglasses'),
 Row(business_area='opticians, optical goods, and eyeglasses'),
 Row(business_area='shoe  shops'),
 Row(business_area='shoe shops'),
 Row(business_area='stationery,  office supplies and printing and writing paper'),
 Row(business_area='stationery, office  supplies and printing and writing paper'),
 Row(business_area='stationery, office supplies  and printing and writing paper'),
 Row(business_area='stationery, office supplies and  printing and writing paper'),
 Row(business_area='stationery, office supplies and printing  and writing paper'),
 Row(business_area='stationery, office supplies and printing and  writing paper'),
 Row(business_area='stationery, office supplies and printing and writing paper'),
 Row(business_area='telecom'),
 Row(business_area='tent  and awning shops'),
 Row(business_area='tent and  awning shops'),
 Row(business_area='tent and awning  shops'),
 Row(business_area='tent and awning shops'),
 Row(business_area='watch,  clock, and jewelry repair shops'),
 Row(business_area='watch, clock,  and jewelry repair shops'),
 Row(business_area='watch, clock, and  jewelry repair shops'),
 Row(business_area='watch, clock, and jewelry  repair shops'),
 Row(business_area='watch, clock, and jewelry repair  shops'),
 Row(business_area='watch, clock, and jewelry repair shops')]

In [13]:
# The concepts are indeed the same but with some extra spaces. so remove extra spaces in "business_area"
final_merchant = final_merchant.withColumn("business_area", F.regexp_replace("business_area", "\s+", " "))

In [14]:
# check for different business area count again
final_merchant.groupby('business_area').count().sort("business_area")

+--------------------+-----+
|       business_area|count|
+--------------------+-----+
|antique shops - s...|  129|
|art dealers and g...|  112|
|artist supply and...|  193|
|bicycle shops - s...|  170|
|books, periodical...|  164|
|cable, satellite,...|  175|
|computer programm...|  191|
|computers, comput...|  181|
|digital goods: bo...|  195|
|equipment, tool, ...|  134|
|florists supplies...|  180|
|furniture, home f...|  182|
|gift, card, novel...|  182|
|health and beauty...|  164|
|hobby, toy and ga...|  142|
|jewelry, watch, c...|   91|
|lawn and garden s...|  153|
|motor vehicle sup...|  151|
|music shops - mus...|  167|
|opticians, optica...|  151|
+--------------------+-----+
only showing top 20 rows

In [15]:
final_merchant.groupby('business_area').count().select("business_area").collect()

[Row(business_area='opticians, optical goods, and eyeglasses'),
 Row(business_area='watch, clock, and jewelry repair shops'),
 Row(business_area='computer programming , data processing, and integrated systems design services'),
 Row(business_area='digital goods: books, movies, music'),
 Row(business_area='books, periodicals, and newspapers'),
 Row(business_area='florists supplies, nursery stock, and flowers'),
 Row(business_area='art dealers and galleries'),
 Row(business_area='antique shops - sales, repairs, and restoration services'),
 Row(business_area='gift, card, novelty, and souvenir shops'),
 Row(business_area='equipment, tool, furniture, and appliance rent al and leasing'),
 Row(business_area='cable, satellite, and other pay television and radio services'),
 Row(business_area='tent and awning shops'),
 Row(business_area='artist supply and craft shops'),
 Row(business_area='stationery, office supplies and printing and writing paper'),
 Row(business_area='furniture, home furnishings and equipment shops, and manufacturers, except appliances'),
 Row(business_area='telecom'),
 Row(business_area='jewelry, watch, clock, and silverware shops'),
 Row(business_area='shoe shops'),
 Row(business_area='hobby, toy and game shops'),
 Row(business_area='computers, computer peripheral equipment, and software'),
 Row(business_area='music shops - musical instruments, pianos, and sheet music'),
 Row(business_area='health and beauty spas'),
 Row(business_area='lawn and garden supply outlets, including nurseries'),
 Row(business_area='motor vehicle supplies and new parts'),
 Row(business_area='bicycle shops - sales and service')]

Clothing and shoe
Electronics
Games & toys
Jewellery and accessories
Beauty & cosmetics 
Household Appliances 
Furniture and homewares

#### Consumer Dataset:

In [16]:
consumer = spark.read.parquet('../data/tables/consumer_user_details.parquet')
consumer

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [17]:
# count the number of consumer
consumer.count()

499999

In [18]:
consumer_detail = spark.read.option('sep', "|").csv('../data/tables/tbl_consumer.csv', 
                                                    header = True)
consumer_detail

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [19]:
consumer_detail.count()

499999

In [20]:
# add the consumer details onto consumer dataframe
consumer = consumer.join(consumer_detail,on="consumer_id")

In [21]:
consumer.show(15)

+-----------+-------+-----------------+--------------------+-----+--------+-----------+
|consumer_id|user_id|             name|             address|state|postcode|     gender|
+-----------+-------+-----------------+--------------------+-----+--------+-----------+
|    1195503|      1| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|
|     179208|      2|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|
|    1194530|      3|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|
|     154128|      4|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|
|     712975|      5|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|
|     407340|      6|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|
|     511685|      7|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|
|     448088|      8| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|
|     650435|      9|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|
|    1058499|     10| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|
|     428325|     11|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|
|    1494640|     12|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|
|    1146717|     13| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|
|    1343547|     14|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|
|    1463076|     15|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|
+-----------+-------+-----------------+--------------------+-----+--------+-----------+
only showing top 15 rows

In [20]:
# check with "name"
consumer.select("name").collect()

[Row(name='Yolanda Williams'),
 Row(name='Mary Smith'),
 Row(name='Jill Jones MD'),
 Row(name='Lindsay Jimenez'),
 Row(name='Rebecca Blanchard'),
 Row(name='Karen Chapman'),
 Row(name='Andrea Jones'),
 Row(name='Stephen Williams'),
 Row(name='Stephanie Reyes'),
 Row(name='Jillian Gonzales'),
 Row(name='Eugene Lucas'),
 Row(name='Melissa Jones'),
 Row(name='Angela Brown PhD'),
 Row(name='Lance Butler'),
 Row(name='Paul Abbott'),
 Row(name='Tracy Hart'),
 Row(name='Alyssa Wilson'),
 Row(name='Michael Burnett'),
 Row(name='Victoria Gonzalez'),
 Row(name='James Norris'),
 Row(name='Wendy Singh'),
 Row(name='Christopher Whitehead'),
 Row(name='Cody Scott'),
 Row(name='Jeffrey Moreno'),
 Row(name='Christopher Jordan'),
 Row(name='Kristi Adkins'),
 Row(name='Jason Alvarado'),
 Row(name='Jamie Francis DVM'),
 Row(name='Gregory Harris'),
 Row(name='Jason Brown'),
 Row(name='Stephanie Johnston'),
 Row(name='Karen Stewart'),
 Row(name='Dawn Decker'),
 Row(name='Dakota Kelley'),
 Row(name='Laurie Smith'),
 Row(name='Renee Schmidt'),
 Row(name='Dr. Allison Bryan MD'),
 Row(name='Kiara Smith MD'),
 Row(name='Melissa Morrison'),
 Row(name='Katelyn Hart'),
 Row(name='Cheyenne Dawson'),
 Row(name='James Davis'),
 Row(name='Andrea Lawrence'),
 Row(name='Michael Johnson'),
 Row(name='Kayla Foster'),
 Row(name='Christopher Pineda'),
 Row(name='Casey Wong'),
 Row(name='Sarah Smith'),
 Row(name='Amanda Rivera'),
 Row(name='Keith Hinton'),
 Row(name='Kristina Mason'),
 Row(name='Wendy Brown'),
 Row(name='Dr. Margaret Dunn'),
 Row(name='Andrea Wheeler'),
 Row(name='Austin Jones'),
 Row(name='Alyssa Dudley'),
 Row(name='Jason Dixon'),
 Row(name='Adam Velazquez'),
 Row(name='Brian Adams'),
 Row(name='Peter Andrade'),
 Row(name='Jennifer Lewis'),
 Row(name='Jeffrey Walker'),
 Row(name='Kristen Bruce'),
 Row(name='Richard Yates'),
 Row(name='Emily Rodriguez'),
 Row(name='Charles Webb'),
 Row(name='Julia Munoz'),
 Row(name='Ryan Wagner'),
 Row(name='Terry Martin'),
 Row(name='Erin Dominguez'),
 Row(name='Donald Lopez'),
 Row(name='Mark Craig'),
 Row(name='Mrs. Cynthia Cook'),
 Row(name='Tara Byrd'),
 Row(name='Michael Davies'),
 Row(name='Tyler Fitzpatrick'),
 Row(name='Francisco Harmon'),
 Row(name='Lee Fuller'),
 Row(name='Jennifer Wood'),
 Row(name='James Lewis'),
 Row(name='Kelly Jordan'),
 Row(name='Cody Richmond'),
 Row(name='Laura Brown'),
 Row(name='Andrew Collins'),
 Row(name='Olivia Gray'),
 Row(name='Matthew Moody'),
 Row(name='Garrett Burgess'),
 Row(name='Rebecca Harding'),
 Row(name='Emily Peck'),
 Row(name='Marcus Hernandez'),
 Row(name='Joseph Craig'),
 Row(name='Katherine Smith'),
 Row(name='Margaret Keith'),
 Row(name='Joe Mann'),
 Row(name='Linda Burns'),
 Row(name='Olivia Mcbride'),
 Row(name='Jacob Davis'),
 Row(name='Shannon Wise'),
 Row(name='Mary Cantu'),
 Row(name='Kimberly Holmes'),
 Row(name='Karen Martinez'),
 Row(name='Christopher Johnson'),
 Row(name='Courtney Ruiz DVM'),
 Row(name='Gregory Martin'),
 Row(name='Mr. Tommy Sanders'),
 Row(name='Brian Strickland MD'),
 Row(name='Allison Moreno'),
 Row(name='Emily Gross'),
 Row(name='Jamie Short'),
 Row(name='Brandon White'),
 Row(name='Natalie Stewart'),
 Row(name='Carrie White'),
 Row(name='Dawn Taylor'),
 Row(name='Daniel Martin'),
 Row(name='Courtney French'),
 Row(name='Natalie Allen'),
 Row(name='Michael Alexander'),
 Row(name='Rebecca Davis'),
 Row(name='Robert Blackburn'),
 Row(name='Jordan Alvarez'),
 Row(name='Traci Martin'),
 Row(name='Brent Jackson'),
 Row(name='Brian Sherman'),
 Row(name='Richard Reid'),
 Row(name='Judy Drake'),
 Row(name='Kristen Watson'),
 Row(name='Samantha Martin'),
 Row(name='Zachary Marsh'),
 Row(name='Steven Robinson'),
 Row(name='Benjamin Bernard'),
 Row(name='Peter Green'),
 Row(name='Noah Reed'),
 Row(name='Jamie French'),
 Row(name='Patty Moore'),
 Row(name='Paula Norman'),
 Row(name='Todd Edwards'),
 Row(name='Sandra Cooper'),
 Row(name='Crystal Hicks'),
 Row(name='Kevin Chase'),
 Row(name='Austin Kent'),
 Row(name='James Donovan'),
 Row(name='Amanda Martinez'),
 Row(name='Jordan Espinoza'),
 Row(name='Gerald Owens'),
 Row(name='Timothy Prince'),
 Row(name='Nathan Barr'),
 Row(name='Eileen Sandoval'),
 Row(name='Ricardo Scott'),
 Row(name='Austin Cowan'),
 Row(name='Daniel Perez'),
 Row(name='Steven Smith'),
 Row(name='Tina Clark'),
 Row(name='Larry Smith DVM'),
 Row(name='Toni Gonzales'),
 Row(name='Joseph Johnston'),
 Row(name='Kimberly Gonzalez'),
 Row(name='Rebecca Harris'),
 Row(name='David Rodriguez'),
 Row(name='Ryan Ellis'),
 Row(name='John Serrano'),
 Row(name='Michael Henderson MD'),
 Row(name='Thomas Freeman'),
 Row(name='Joshua Stevens'),
 Row(name='Stephanie Turner'),
 Row(name='Allison Johnson'),
 Row(name='Rhonda Johnson'),
 Row(name='Katherine Moore'),
 Row(name='Sarah Sosa'),
 Row(name='Teresa Jones'),
 Row(name='Nicole Russo'),
 Row(name='Philip Cantrell'),
 Row(name='Julie Ortega'),
 Row(name='Adam Miller'),
 Row(name='Joseph Bridges'),
 Row(name='John Ward'),
 Row(name='David Cooper'),
 Row(name='Melanie Gutierrez'),
 Row(name='Anthony Frederick'),
 Row(name='Mrs. Patricia Mccoy'),
 Row(name='Jessica Maxwell'),
 Row(name='Andre Schmidt'),
 Row(name='Kenneth Downs'),
 Row(name='Alexandra Brown'),
 Row(name='Shannon Horne'),
 Row(name='Johnathan Mendez'),
 Row(name='Stephanie Wallace'),
 Row(name='Ian Hanson'),
 Row(name='John Kim'),
 Row(name='Robin Gonzalez'),
 Row(name='James Sanchez'),
 Row(name='Vanessa Ford'),
 Row(name='Jeremy Davis'),
 Row(name='Eric Glover'),
 Row(name='Melissa Nelson'),
 Row(name='Robert Klein'),
 Row(name='Patrick Kim'),
 Row(name='Jordan Evans'),
 Row(name='Joseph Clark'),
 Row(name='Amanda Flores'),
 Row(name='Kyle Jennings'),
 Row(name='Kristen Cordova'),
 Row(name='Bryan Ho'),
 Row(name='Nicole Murphy'),
 Row(name='Tammy Hess'),
 Row(name='David Gutierrez'),
 Row(name='Richard Bryant'),
 Row(name='Luis Smith'),
 Row(name='Cheryl Payne'),
 Row(name='Tony Hudson'),
 Row(name='Susan Schwartz'),
 Row(name='Kimberly Perez'),
 Row(name='Craig Brown'),
 Row(name='Nina Chase'),
 Row(name='Brian Johnson'),
 Row(name='Chelsea Holmes'),
 Row(name='Mark Bradley'),
 Row(name='William Acosta'),
 Row(name='Angela Gilbert'),
 Row(name='Larry Richards'),
 Row(name='Nina Acosta'),
 Row(name='Cameron Lee'),
 Row(name='Wendy Flores'),
 Row(name='Heather Walker'),
 Row(name='Charles Anderson'),
 Row(name='Logan Steele'),
 Row(name='Emily Singh'),
 Row(name='Courtney Perkins'),
 Row(name='Jennifer Lee'),
 Row(name='Cassidy Martin'),
 Row(name='Fernando Reed'),
 Row(name='Juan Singleton'),
 Row(name='Carlos Lewis'),
 Row(name='Kelsey Phillips'),
 Row(name='Ethan Saunders'),
 Row(name='Michelle Williams'),
 Row(name='Jennifer Spencer'),
 Row(name='Anna Stephens'),
 Row(name='Joel Kirk'),
 Row(name='Ann Ramsey'),
 Row(name='Melissa Wang'),
 Row(name='Paige Davis'),
 Row(name='Chad Rodriguez'),
 Row(name='Cathy Conley'),
 Row(name='Rebekah Stephens'),
 Row(name='Joel Richards'),
 Row(name='Ryan Day'),
 Row(name='Christopher Riggs'),
 Row(name='George Davis'),
 Row(name='Jose Tucker'),
 Row(name='Robert Ochoa'),
 Row(name='Carlos Henson'),
 Row(name='Bryan Ross'),
 Row(name='Gina Scott'),
 Row(name='John Sanchez'),
 Row(name='Louis Baxter'),
 Row(name='Kara Hernandez'),
 Row(name='John Solis'),
 Row(name='Andrew Lowe'),
 Row(name='Denise Sullivan'),
 Row(name='Donald Alvarado'),
 Row(name='Claudia Lee'),
 Row(name='Jessica Horton'),
 Row(name='Karen Robinson'),
 Row(name='Daniel Green'),
 Row(name='Susan Zhang'),
 Row(name='John Bryant'),
 Row(name='Elizabeth Grant'),
 Row(name='Mark Jennings'),
 Row(name='Austin Turner'),
 Row(name='Linda Terry'),
 Row(name='Cindy Green'),
 Row(name='Maria Little'),
 Row(name='Andrea Martin'),
 Row(name='Mrs. Andrea Allen'),
 Row(name='Dr. Nicholas Hill'),
 Row(name='Michael Campbell'),
 Row(name='Jack Hughes'),
 Row(name='Karen Lopez'),
 Row(name='Samantha Hicks'),
 Row(name='Victor Nguyen'),
 Row(name='Hector Johnson'),
 Row(name='Ronald Johnson'),
 Row(name='Lisa Russell'),
 Row(name='Steven Jones'),
 Row(name='Holly Bailey'),
 Row(name='Angela Gibson'),
 Row(name='Larry Gill'),
 Row(name='Jennifer Price'),
 Row(name='Thomas Bradford'),
 Row(name='Kevin Fox'),
 Row(name='Chad Whitaker'),
 Row(name='Stephen Martinez'),
 Row(name='Melinda Collins'),
 Row(name='Laurie Williams'),
 Row(name='Tina Blevins'),
 Row(name='Christine Ward'),
 Row(name='Monique Hicks'),
 Row(name='Daniel Cannon'),
 Row(name='Jonathon Malone'),
 Row(name='Stephanie Williams'),
 Row(name='Evan Collins'),
 Row(name='David Randall'),
 Row(name='Jennifer Chambers'),
 Row(name='Tracy Mckenzie'),
 Row(name='David Morris'),
 Row(name='Michelle Johnson'),
 Row(name='Joshua Baker'),
 Row(name='Mark Carroll'),
 Row(name='Jason Henry'),
 Row(name='Diana Ward'),
 Row(name='Elizabeth Collins'),
 Row(name='Matthew Mueller'),
 Row(name='Angelica Williams'),
 Row(name='Jennifer Delacruz'),
 Row(name='Sean Young'),
 Row(name='Ronald Davila'),
 Row(name='Ruben Martin'),
 Row(name='Beth Brennan'),
 Row(name='Kelly Wilson'),
 Row(name='Sarah Montoya'),
 Row(name='Daniel Baker'),
 Row(name='Reginald Harrell'),
 Row(name='Phillip Richardson PhD'),
 Row(name='Priscilla Sexton'),
 Row(name='Gary Frank'),
 Row(name='Julie James'),
 Row(name='Paula Hart'),
 Row(name='Alexa Lin'),
 Row(name='Matthew Bender'),
 Row(name='Adam Lewis'),
 Row(name='Kaylee Long'),
 Row(name='Robert Franco'),
 Row(name='Samantha Zuniga'),
 Row(name='Virginia Harper'),
 Row(name='Hayley Tucker'),
 Row(name='Joshua Lam'),
 Row(name='Jill Carney'),
 Row(name='Jeffrey Hoffman'),
 Row(name='Patricia Garza'),
 Row(name='Nicholas Peck'),
 Row(name='Brenda Liu'),
 Row(name='Sara Vega'),
 Row(name='Kyle House'),
 Row(name='Angela Sherman'),
 Row(name='Jason Reyes'),
 Row(name='Angel Rubio'),
 Row(name='Katherine Stone'),
 Row(name='Justin West'),
 Row(name='Jamie Ramirez'),
 Row(name='Amanda Martinez'),
 Row(name='William Orozco'),
 Row(name='April Clark'),
 Row(name='Devin Stewart'),
 Row(name='Frances Rogers'),
 Row(name='Whitney Rhodes'),
 Row(name='David Simmons'),
 Row(name='Richard Bailey'),
 Row(name='Tonya Love'),
 Row(name='James Pace'),
 Row(name='Shawna Goodman'),
 Row(name='Thomas Simpson'),
 Row(name='Brian Martinez'),
 Row(name='Barry Odonnell'),
 Row(name='Vincent Marsh'),
 Row(name='Ashley Martin'),
 Row(name='Christopher Boone'),
 Row(name='Michael Hess'),
 Row(name='Brittany Keller'),
 Row(name='Taylor Santos'),
 Row(name='Cindy Brooks'),
 Row(name='Melissa Bradshaw'),
 Row(name='Jose Cook'),
 Row(name='Henry Smith'),
 Row(name='Erica Wood'),
 Row(name='Destiny Sanchez'),
 Row(name='Daniel Taylor'),
 Row(name='Michelle Harvey'),
 Row(name='William Sullivan'),
 Row(name='Thomas Gonzalez'),
 Row(name='John Tate'),
 Row(name='Jamie Meyers'),
 Row(name='Mr. Daniel Price'),
 Row(name='Monique Giles'),
 Row(name='Karen Herrera'),
 Row(name='Amanda Hunter'),
 Row(name='Tiffany Foster'),
 Row(name='Penny Davis'),
 Row(name='Robert Huff'),
 Row(name='Derek Maxwell'),
 Row(name='Wendy Ware'),
 Row(name='Johnny Mendez'),
 Row(name='Jeff Newman'),
 Row(name='Joseph Mccarthy'),
 Row(name='Tara White'),
 Row(name='Rachel Porter'),
 Row(name='Eric Nash'),
 Row(name='Maurice Perez'),
 Row(name='Aaron Herman'),
 Row(name='Brooke Bass'),
 Row(name='Brian Barnes'),
 Row(name='Patrick Thompson'),
 Row(name='Robert Pena'),
 Row(name='Alexandria Smith'),
 Row(name='Andrea Taylor'),
 Row(name='Scott Leach'),
 Row(name='Patrick Ray'),
 Row(name='Jonathan Conley IV'),
 Row(name='Jason Thornton'),
 Row(name='Brian Trevino'),
 Row(name='Katelyn Morris'),
 Row(name='Felicia Berry'),
 Row(name='Amy Mcmahon'),
 Row(name='Mr. Brendan Lane DDS'),
 Row(name='Dr. Jeffrey Rivera'),
 Row(name='Timothy Jackson'),
 Row(name='Maureen Taylor'),
 Row(name='Renee Miller'),
 Row(name='Rebecca Espinoza'),
 Row(name='Dr. Alyssa Stout'),
 Row(name='Stephanie West'),
 Row(name='Heather Gonzalez'),
 Row(name='Erik Patterson'),
 Row(name='Laura Scott'),
 Row(name='Kelly Aguilar'),
 Row(name='Timothy Ellis'),
 Row(name='Kevin Cummings'),
 Row(name='Lori Berry'),
 Row(name='Christina Sanders'),
 Row(name='Tyler Hernandez'),
 Row(name='Alex Jordan'),
 Row(name='Travis Brown'),
 Row(name='Cindy Stevens'),
 Row(name='Megan Murphy'),
 Row(name='Michael Preston'),
 Row(name='Anthony Patrick MD'),
 Row(name='Jennifer Vasquez'),
 Row(name='Jessica Jones MD'),
 Row(name='Brian Jennings'),
 Row(name='Jessica Phillips'),
 Row(name='Lisa Hill'),
 Row(name='Steven Cunningham'),
 Row(name='Peter Camacho'),
 Row(name='Alexandra Davis'),
 Row(name='Kathy Benson'),
 Row(name='Richard Davis'),
 Row(name='Kathryn Cohen'),
 Row(name='Jeffrey King'),
 Row(name='Ashley Franklin'),
 Row(name='Lindsey Ibarra MD'),
 Row(name='Erica Garcia'),
 Row(name='Andre Koch'),
 Row(name='Donna Sanchez'),
 Row(name='Rhonda Avery'),
 Row(name='Paul Rodriguez'),
 Row(name='Christopher Hodge'),
 Row(name='Darius Sandoval'),
 Row(name='Jennifer Patterson'),
 Row(name='Brian Gutierrez'),
 Row(name='Ashley Lopez'),
 Row(name='Christian King'),
 Row(name='Tim Burke'),
 Row(name='Nancy Davis'),
 Row(name='Mr. Erik Hicks'),
 Row(name='Jordan Burns'),
 Row(name='Cathy Richards'),
 Row(name='Shannon Barton'),
 Row(name='Elizabeth Ellis'),
 Row(name='Meredith Lee'),
 Row(name='Nicole Aguirre'),
 Row(name='Charles Monroe'),
 Row(name='Johnathan Ochoa'),
 Row(name='Russell Frost'),
 Row(name='Ryan Jones'),
 Row(name='Yolanda Reed'),
 Row(name='Terry Schultz'),
 Row(name='Tim Wilson'),
 Row(name='Jennifer Pollard'),
 Row(name='Melinda Romero'),
 Row(name='Mark Castaneda'),
 Row(name='Jamie Simmons'),
 Row(name='Ralph Osborne'),
 Row(name='Yvonne Holmes'),
 Row(name='Alexander Patel MD'),
 Row(name='Cassandra Roach'),
 Row(name='Mr. Matthew Hill'),
 Row(name='Destiny Wallace'),
 Row(name='Matthew Johnson'),
 Row(name='Antonio Ryan'),
 Row(name='Sean Alexander'),
 Row(name='Mark Mccarty'),
 Row(name='Douglas Patterson'),
 Row(name='Nathaniel Sanders'),
 Row(name='Kevin Smith'),
 Row(name='Steven Mathis'),
 Row(name='Lauren Stephens'),
 Row(name='Alexander Porter'),
 Row(name='Rebecca Branch'),
 Row(name='Ashley Alvarado'),
 Row(name='Briana Johnson'),
 Row(name='Clinton Bell'),
 Row(name='Victoria Moon'),
 Row(name='Denise Mills'),
 Row(name='Patricia Santiago'),
 Row(name='Tammy Russell'),
 Row(name='Jonathon Ryan'),
 Row(name='Janet Macias'),
 Row(name='David Sparks'),
 Row(name='Larry Barr'),
 Row(name='Adrienne Newton'),
 Row(name='Charles Miller'),
 Row(name='Kelly Dennis'),
 Row(name='Lisa Miller'),
 Row(name='Tiffany Hall PhD'),
 Row(name='Robert Fuentes'),
 Row(name='Jason Ramos'),
 Row(name='Brian Swanson'),
 Row(name='David Wolfe'),
 Row(name='Sophia Fitzgerald'),
 Row(name='Dominique Smith'),
 Row(name='Taylor Long'),
 Row(name='Dr. Jordan Curry'),
 Row(name='Jesse Ferguson'),
 Row(name='Nicole Reeves'),
 Row(name='Edwin Carter'),
 Row(name='Kevin Eaton'),
 Row(name='Alyssa Price'),
 Row(name='Eileen Fox'),
 Row(name='Andrew Garcia'),
 Row(name='Ashlee Jones'),
 Row(name='James Smith'),
 Row(name='Chelsea Rodgers'),
 Row(name='Whitney Thompson'),
 Row(name='Nichole Soto'),
 Row(name='William Jones'),
 Row(name='Oscar Luna'),
 Row(name='Diana Wall'),
 Row(name='Wayne Rodriguez'),
 Row(name='Tiffany Moreno'),
 Row(name='Justin Dalton'),
 Row(name='Mark Ho'),
 Row(name='Caleb Torres'),
 Row(name='Alice Evans'),
 Row(name='Scott Morris'),
 Row(name='Melinda Barber'),
 Row(name='Tammie Trujillo'),
 Row(name='Andrew Ingram'),
 Row(name='Sarah Rice'),
 Row(name='Ashley Osborne'),
 Row(name='Crystal Baker'),
 Row(name='John Petersen'),
 Row(name='Breanna Luna'),
 Row(name='Emily Hess'),
 Row(name='Rachel Wood'),
 Row(name='Thomas Mullins'),
 Row(name='Jeffrey Davis'),
 Row(name='Rachel Lam'),
 Row(name='Wyatt Obrien'),
 Row(name='Michael Garcia'),
 Row(name='Jimmy King'),
 Row(name='Robert Garrett'),
 Row(name='Cody Chung'),
 Row(name='Mary Nguyen'),
 Row(name='Faith Chase'),
 Row(name='Jacob Rodriguez'),
 Row(name='Tracy Perry'),
 Row(name='Sean Johnson'),
 Row(name='Jessica Luna'),
 Row(name='Michael Short'),
 Row(name='Kevin Snyder'),
 Row(name='Clinton Johnson'),
 Row(name='Stephanie Payne'),
 Row(name='Desiree Melton'),
 Row(name='Dean Dawson'),
 Row(name='Erin Pittman'),
 Row(name='Joanna Rivera'),
 Row(name='Jonathan Fisher'),
 Row(name='Tiffany Romero'),
 Row(name='Derek Thomas'),
 Row(name='Daniel Farmer'),
 Row(name='John Dalton'),
 Row(name='Robert Johnson'),
 Row(name='Kathleen Garcia'),
 Row(name='Timothy Mason'),
 Row(name='Chelsea Baker'),
 Row(name='Matthew Williams'),
 Row(name='Brian Rogers'),
 Row(name='Dr. Michael Beck'),
 Row(name='Daniel Young'),
 Row(name='Noah Warner'),
 Row(name='Christine Castillo'),
 Row(name='Mary Clayton'),
 Row(name='Daniel Deleon'),
 Row(name='Heidi Rodriguez'),
 Row(name='Ms. Tracy Bailey'),
 Row(name='Gina Fernandez'),
 Row(name='Zachary Daniel'),
 Row(name='Joseph Todd'),
 Row(name='Brianna Smith'),
 Row(name='Gary Taylor'),
 Row(name='Gabriel Pitts'),
 Row(name='Oscar Carr'),
 Row(name='Christopher Santana'),
 Row(name='Virginia Grant'),
 Row(name='Sarah Trujillo'),
 Row(name='Danielle Case'),
 Row(name='Samantha Davis'),
 Row(name='Anthony Young'),
 Row(name='Richard Davis'),
 Row(name='Heather Rodriguez'),
 Row(name='Robert Turner DDS'),
 Row(name='Victoria Smith'),
 Row(name='Thomas Cochran'),
 Row(name='Tara Black'),
 Row(name='Kevin Joseph'),
 Row(name='Ronnie Perez'),
 Row(name='Kimberly Hines'),
 Row(name='Nathaniel Smith'),
 Row(name='Deanna Perez'),
 Row(name='Patricia Williams'),
 Row(name='Lance Martinez'),
 Row(name='Jennifer Norris'),
 Row(name='John Snyder'),
 Row(name='Nicholas Vance'),
 Row(name='Brandy Davis'),
 Row(name='Jean Clark'),
 Row(name='Robin Anderson'),
 Row(name='Denise Schultz'),
 Row(name='Sandra Collins'),
 Row(name='Lauren Arnold'),
 Row(name='Mr. Christopher Williams MD'),
 Row(name='Jasmine Mercado'),
 Row(name='Craig Lewis'),
 Row(name='Kyle Rowe'),
 Row(name='Norman Bernard'),
 Row(name='Nicholas Wilson'),
 Row(name='Daniel Coleman'),
 Row(name='Jill Hill'),
 Row(name='Matthew Gibson'),
 Row(name='Samantha Taylor'),
 Row(name='Frank Hill'),
 Row(name='Roberta Werner'),
 Row(name='Felicia Oneill'),
 Row(name='Brittany Johnson'),
 Row(name='Cindy Gray'),
 Row(name='Mary Robinson'),
 Row(name='Theresa Walker'),
 Row(name='Rachel Brady'),
 Row(name='Daniel Vance'),
 Row(name='Wendy Shepard'),
 Row(name='Emma Nichols'),
 Row(name='Anthony Robinson'),
 Row(name='Douglas Davis'),
 Row(name='James Larson'),
 Row(name='David Mckee'),
 Row(name='Lauren Rogers'),
 Row(name='Michael Henderson'),
 Row(name='Bryan Wright'),
 Row(name='Kara Reyes'),
 Row(name='Jay Gonzalez'),
 Row(name='Melissa Martinez'),
 Row(name='David Sanchez'),
 Row(name='Christopher Moreno'),
 Row(name='Sarah Miller'),
 Row(name='Melanie Santana'),
 Row(name='Kenneth Moore'),
 Row(name='Nicholas Mendoza'),
 Row(name='Christopher Walsh'),
 Row(name='Frank Cooke'),
 Row(name='Jessica Martinez'),
 Row(name='Stephanie White'),
 Row(name='Linda Leach'),
 Row(name='Patrick Ward'),
 Row(name='Robert Andrade'),
 Row(name='Mason Leach'),
 Row(name='Brian Scott MD'),
 Row(name='Diana Phillips'),
 Row(name='Kyle Freeman'),
 Row(name='Reginald Hamilton'),
 Row(name='Daniel Blair'),
 Row(name='Melissa Stark'),
 Row(name='Robert Perez'),
 Row(name='Robert Johnson'),
 Row(name='Christian Terrell'),
 Row(name='Julie Carrillo'),
 Row(name='Mr. Zachary Leach'),
 Row(name='Alejandro Adams'),
 Row(name='Janice Chambers'),
 Row(name='Harry Williams'),
 Row(name='Jason Arnold'),
 Row(name='Patrick Roberts'),
 Row(name='Samantha Schroeder'),
 Row(name='Andrew Ellis'),
 Row(name='Kimberly Adams'),
 Row(name='Michelle Lopez'),
 Row(name='Kimberly Henry'),
 Row(name='Emily Watkins'),
 Row(name='John Underwood'),
 Row(name='Christopher Tanner'),
 Row(name='Kathleen Walters'),
 Row(name='Laura Williams'),
 Row(name='Stephen Phillips'),
 Row(name='Jennifer Reyes'),
 Row(name='Vanessa Walker'),
 Row(name='David Moore'),
 Row(name='Karen Cruz'),
 Row(name='Jerry Davidson'),
 Row(name='Angela Gonzalez'),

By observing the "name" column, some names has title used before names, including "Mrs." "Dr." "Mr." "Miss ", some has the academic abbreviation used after names, including "MD"(Doctor of Medicine), "PhD"(Doctor of Philosophy), "DVM"(Doctor of Veterinary Medicine) and "DDS"(Doctor of Dental Surgery), some has both title before and academic abbreviation after and some does not have any. Since the title and the academic abbreviation might be useful information in predicting, we extract them by the following steps.

In [21]:
consumer.withColumn("name_list", F.split(F.col("name"), " ")).show()

+-----------+-------+-----------------+--------------------+-----+--------+-----------+--------------------+
|consumer_id|user_id|             name|             address|state|postcode|     gender|           name_list|
+-----------+-------+-----------------+--------------------+-----+--------+-----------+--------------------+
|    1195503|      1| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female| [Yolanda, Williams]|
|     179208|      2|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|       [Mary, Smith]|
|    1194530|      3|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|   [Jill, Jones, MD]|
|     154128|      4|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|  [Lindsay, Jimenez]|
|     712975|      5|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|[Rebecca, Blanchard]|
|     407340|      6|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|    [Karen, Chapman]|
|     511685|      7|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     [Andrea, Jones]|
|     448088|      8| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male| [Stephen, Williams]|
|     650435|      9|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|  [Stephanie, Reyes]|
|    1058499|     10| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female| [Jillian, Gonzales]|
|     428325|     11|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     [Eugene, Lucas]|
|    1494640|     12|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    [Melissa, Jones]|
|    1146717|     13| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|[Angela, Brown, PhD]|
|    1343547|     14|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|     [Lance, Butler]|
|    1463076|     15|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|      [Paul, Abbott]|
|    1356405|     16|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|       [Tracy, Hart]|
|    1331093|     17|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    [Alyssa, Wilson]|
|      80965|     18|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|  [Michael, Burnett]|
|    1226530|     19|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|[Victoria, Gonzalez]|
|    1390367|     20|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|     [James, Norris]|
+-----------+-------+-----------------+--------------------+-----+--------+-----------+--------------------+
only showing top 20 rows

In [22]:
# check with "address"
consumer.select("address").collect()

[Row(address='413 Haney Gardens Apt. 742'),
 Row(address='3764 Amber Oval'),
 Row(address='40693 Henry Greens'),
 Row(address='00653 Davenport Crossroad'),
 Row(address='9271 Michael Manors Suite 651'),
 Row(address='2706 Stewart Oval Suite 588'),
 Row(address='122 Brandon Cliff'),
 Row(address='6804 Wright Crest Suite 311'),
 Row(address='5813 Denise Land Suite 690'),
 Row(address='461 Ryan Common Suite 734'),
 Row(address='33983 Kevin Drive Suite 628'),
 Row(address='13706 Kimberly Port'),
 Row(address='0236 Mills Land Suite 203'),
 Row(address='8943 Kenneth Camp'),
 Row(address='60495 Ryan Hill'),
 Row(address='9671 Jacob Harbors Suite 431'),
 Row(address='44353 Nathan Ridge'),
 Row(address='89400 Torres Fort'),
 Row(address='68657 Johnson Glen Suite 266'),
 Row(address='790 Ramos Landing'),
 Row(address='903 Holder Freeway Apt. 374'),
 Row(address='04814 Erin Port Apt. 649'),
 Row(address='513 Davis Parks'),
 Row(address='339 Philip Pike'),
 Row(address='18420 Haas Crossroad Apt. 500'),
 Row(address='051 Snyder Hollow Suite 867'),
 Row(address='364 Heather Viaduct Suite 463'),
 Row(address='643 Michael Plains Apt. 703'),
 Row(address='1376 William Mountain Apt. 709'),
 Row(address='15132 Thomas Crossroad'),
 Row(address='864 Green Prairie Suite 956'),
 Row(address='58186 Gonzales Underpass Suite 438'),
 Row(address='8958 Bradley Plains'),
 Row(address='328 Manning Summit Apt. 216'),
 Row(address='0130 Larry Flats'),
 Row(address='607 Smith Parkways'),
 Row(address='993 Collins Ports'),
 Row(address='7081 Davis Tunnel'),
 Row(address='9609 Smith Way Apt. 637'),
 Row(address='7247 Allison Ville'),
 Row(address='816 Sarah Station Apt. 431'),
 Row(address='806 Donaldson Overpass'),
 Row(address='84910 Tammie Plaza'),
 Row(address='32835 Friedman Burgs'),
 Row(address='6757 Cook Heights Suite 918'),
 Row(address='14205 Justin Points'),
 Row(address='212 Mark Streets'),
 Row(address='25965 Bass Meadow'),
 Row(address='54712 Brad Estate Suite 790'),
 Row(address='486 Bowen Wells'),
 Row(address='52792 Evans Camp'),
 Row(address='27343 Rodriguez Ports'),
 Row(address='92389 Anderson Bypass Suite 965'),
 Row(address='31015 Walker Points Suite 835'),
 Row(address='2624 Louis Prairie'),
 Row(address='5872 Albert Lights Suite 091'),
 Row(address='505 Moss Squares Apt. 336'),
 Row(address='1075 Schultz Track'),
 Row(address='6282 John Coves'),
 Row(address='988 Matthew Pine'),
 Row(address='52519 Pena Bridge'),
 Row(address='45218 Shannon Knoll Suite 000'),
 Row(address='8453 Terry Locks'),
 Row(address='9451 Daniel Place'),
 Row(address='793 Joseph Light Apt. 081'),
 Row(address='61844 Jackie Haven Apt. 417'),
 Row(address='585 Shepherd Forges'),
 Row(address='6571 Heather Plains'),
 Row(address='714 Lopez Neck Suite 144'),
 Row(address='11180 Henderson Causeway Suite 686'),
 Row(address='483 Erin Meadows Apt. 038'),
 Row(address='509 Wolf Court Suite 422'),
 Row(address='483 Caitlyn Valley'),
 Row(address='35822 Rebecca Forges'),
 Row(address='916 Ramirez Camp Apt. 118'),
 Row(address='485 Park Row'),
 Row(address='081 Nicole Mountains Apt. 950'),
 Row(address='231 Newton Walks'),
 Row(address='166 Miller Pass Suite 093'),
 Row(address='840 Tiffany Avenue Apt. 640'),
 Row(address='721 Brent Row'),
 Row(address='8936 Ingram Row'),
 Row(address='580 Linda Cove'),
 Row(address='77640 Wood Passage Apt. 280'),
 Row(address='98572 Diane Lights Suite 735'),
 Row(address='280 Garrett Mountain Suite 102'),
 Row(address='8694 Perry Junction Apt. 558'),
 Row(address='74371 Tonya Mission'),
 Row(address='080 Mcclure Passage'),
 Row(address='465 Holly Parkway Suite 893'),
 Row(address='727 Garcia Terrace'),
 Row(address='1620 Susan Plains Suite 780'),
 Row(address='058 Kelly Corners Suite 544'),
 Row(address='370 Bennett Plain Suite 164'),
 Row(address='76786 Stephanie Inlet Apt. 725'),
 Row(address='01969 Jenkins Club Apt. 412'),
 Row(address='8852 Parrish Meadow'),
 Row(address='34287 Victoria Tunnel Apt. 013'),
 Row(address='4960 Ochoa Expressway'),
 Row(address='553 Christine Knoll'),
 Row(address='8660 Torres Well'),
 Row(address='586 Kimberly Pine'),
 Row(address='789 Taylor Row'),
 Row(address='4030 Michael Glens Suite 064'),
 Row(address='6943 Church Passage'),
 Row(address='903 Ian Walk'),
 Row(address='840 Cervantes Glens'),
 Row(address='80547 Frederick Pass Apt. 508'),
 Row(address='842 David Divide Suite 607'),
 Row(address='351 Hamilton Shore Suite 325'),
 Row(address='06565 Bullock Forest Apt. 267'),
 Row(address='920 Harrison Pine Apt. 307'),
 Row(address='772 Jackson Springs Apt. 193'),
 Row(address='734 Willie Wall'),
 Row(address='915 Hall Valleys Suite 542'),
 Row(address='3597 Chang Roads Apt. 926'),
 Row(address='82386 David Estates Suite 653'),
 Row(address='185 Michael Terrace'),
 Row(address='70818 Smith Fords Suite 978'),
 Row(address='6865 Amber Highway'),
 Row(address='1938 Nathan Branch Apt. 486'),
 Row(address='898 Wyatt Pass Suite 820'),
 Row(address='045 Erickson Terrace Suite 055'),
 Row(address='755 Patton Parks'),
 Row(address='128 Dean View'),
 Row(address='35081 Rowland Plaza'),
 Row(address='32072 Hill Wells Suite 701'),
 Row(address='5734 Melissa Hill'),
 Row(address='437 Tiffany Park'),
 Row(address='446 Laurie Meadows Suite 771'),
 Row(address='929 Dale Via'),
 Row(address='6318 Brian Way Apt. 505'),
 Row(address='127 Cameron Vista'),
 Row(address='745 Flores Expressway Suite 596'),
 Row(address='630 Trujillo Ports Apt. 575'),
 Row(address='1664 Troy Parkways Apt. 729'),
 Row(address='06443 Powell Spur Suite 646'),
 Row(address='6063 Michael Cliffs'),
 Row(address='8388 Tiffany Extension Suite 927'),
 Row(address='15200 Russell Ford Suite 710'),
 Row(address='455 Trevino Ports Apt. 032'),
 Row(address='15581 Larry Terrace Apt. 982'),
 Row(address='3084 Garrett Shoals'),
 Row(address='948 Whitehead Valley Suite 637'),
 Row(address='164 Conley Gardens'),
 Row(address='2778 Wayne Route'),
 Row(address='86003 Pierce Stream Apt. 039'),
 Row(address='284 Mills Passage'),
 Row(address='6904 Howard Key Apt. 184'),
 Row(address='812 Nicholson Ways'),
 Row(address='9093 Hernandez Bridge Suite 838'),
 Row(address='637 Daniel View'),
 Row(address='47449 Price Springs Apt. 050'),
 Row(address='16628 Allen Mission'),
 Row(address='58700 Suzanne Rapid'),
 Row(address='413 Sheri Ranch'),
 Row(address='476 Dorsey Fort'),
 Row(address='279 Katie Ramp Apt. 165'),
 Row(address='311 Hansen Flat'),
 Row(address='284 Christine Loaf Suite 707'),
 Row(address='93987 Daniel Villages Suite 247'),
 Row(address='015 Crawford Knoll Apt. 692'),
 Row(address='178 Rhonda Walks Apt. 722'),
 Row(address='356 Alex Point'),
 Row(address='325 Carol Vista Apt. 529'),
 Row(address='185 Stephen Shores Apt. 334'),
 Row(address='722 Devin Knoll'),
 Row(address='5008 Debra Road Apt. 601'),
 Row(address='30156 Hamilton Inlet'),
 Row(address='661 Moore Island'),
 Row(address='1112 Gary Ranch'),
 Row(address='1099 Melissa Ville'),
 Row(address='80907 Little Plaza'),
 Row(address='4193 Marcus Grove'),
 Row(address='94850 Figueroa Divide Suite 092'),
 Row(address='9836 Hebert Gateway Suite 618'),
 Row(address='07060 Hobbs Track'),
 Row(address='74589 Clark Square'),
 Row(address='239 Fry Point'),
 Row(address='465 Samantha Island'),
 Row(address='013 Dylan Prairie'),
 Row(address='610 Martin Circles'),
 Row(address='31013 Sara Valley Apt. 100'),
 Row(address='457 Holmes Trail Apt. 571'),
 Row(address='49459 Harris Neck Suite 988'),
 Row(address='262 Deborah Tunnel Apt. 983'),
 Row(address='625 Alexander Inlet'),
 Row(address='72885 Rodriguez Alley Apt. 204'),
 Row(address='28813 Wright Ville Suite 717'),
 Row(address='658 Moore Wall Suite 075'),
 Row(address='7214 Erik Run Suite 625'),
 Row(address='90659 Gamble View'),
 Row(address='27850 Charles Stream Suite 645'),
 Row(address='6933 Williams Dam'),
 Row(address='8034 Amber Branch'),
 Row(address='23692 Reed Rapids Suite 824'),
 Row(address='0186 Eric Forge Suite 616'),
 Row(address='640 Samuel Forest'),
 Row(address='96355 Zachary Underpass'),
 Row(address='15879 Walker Ports'),
 Row(address='4512 Robles Dale Apt. 756'),
 Row(address='8010 Denise Gardens'),
 Row(address='92793 Clark Park Apt. 179'),
 Row(address='2666 Mary Viaduct'),
 Row(address='683 Richard Dale'),
 Row(address='936 William Mission'),
 Row(address='6953 Mary Crest'),
 Row(address='61427 Hudson Walks Suite 683'),
 Row(address='35168 Compton Drives'),
 Row(address='5327 Lynn Club'),
 Row(address='8784 Walker Points Suite 368'),
 Row(address='931 Ashley Heights Suite 196'),
 Row(address='8513 Alexander Station'),
 Row(address='410 Travis Path Apt. 595'),
 Row(address='337 Snyder Rapids'),
 Row(address='809 Ryan Manor Apt. 793'),
 Row(address='90658 Jared Radial'),
 Row(address='10485 Alexis Isle Suite 369'),
 Row(address='63532 Gonzalez Divide'),
 Row(address='4401 William Fall'),
 Row(address='714 Logan Forks'),
 Row(address='101 King River Suite 303'),
 Row(address='57761 Erin Square'),
 Row(address='572 Mario Estate Apt. 495'),
 Row(address='640 Kenneth Viaduct Apt. 852'),
 Row(address='0107 Flores Street Suite 423'),
 Row(address='024 Santiago Row Suite 025'),
 Row(address='6741 Christopher Cliffs'),
 Row(address='15019 Jose Mountain Suite 797'),
 Row(address='8652 Charles Villages Suite 954'),
 Row(address='3672 Deborah Keys Apt. 621'),
 Row(address='928 Lynn Road'),
 Row(address='42309 Reid Hill'),
 Row(address='041 Villa Course Apt. 169'),
 Row(address='5986 Diaz Point'),
 Row(address='6470 Brian Estate Suite 168'),
 Row(address='2740 Casey Cape Apt. 164'),
 Row(address='652 Fisher Ramp'),
 Row(address='6549 Danny Shoal'),
 Row(address='3772 Torres Pass'),
 Row(address='6397 Preston Pine Suite 665'),
 Row(address='611 James Mission'),
 Row(address='8348 Anne Roads'),
 Row(address='6619 Johnson Flats Apt. 166'),
 Row(address='0452 Maria Mill Suite 198'),
 Row(address='7238 Amanda Coves Apt. 576'),
 Row(address='33607 Katelyn Turnpike'),
 Row(address='417 Jackson Viaduct'),
 Row(address='6981 Reese Avenue'),
 Row(address='326 Hodges Square'),
 Row(address='181 Mueller Shoals Suite 445'),
 Row(address='9197 Anne Burg Apt. 252'),
 Row(address='01468 Lisa Mission'),
 Row(address='07079 Lori Prairie'),
 Row(address='92798 Robin Expressway'),
 Row(address='705 Oliver Terrace Suite 365'),
 Row(address='180 Autumn Crossroad'),
 Row(address='157 Thomas Shores'),
 Row(address='0436 Elijah Corner'),
 Row(address='2982 Vickie Cliff'),
 Row(address='08356 William Rapid Suite 469'),
 Row(address='311 Todd Plain'),
 Row(address='526 Ryan Shoals Apt. 971'),
 Row(address='7274 Garcia Springs Apt. 413'),
 Row(address='0103 Snyder Mall Apt. 531'),
 Row(address='53343 Cheryl Forges'),
 Row(address='159 Laura Burg'),
 Row(address='2836 Earl Mountains Apt. 854'),
 Row(address='83006 Simpson Keys'),
 Row(address='52208 Miller Corners Suite 059'),
 Row(address='593 John Brook Apt. 307'),
 Row(address='7187 Jessica Key'),
 Row(address='3821 Jennifer Stravenue Apt. 629'),
 Row(address='2079 Williams Points Apt. 362'),
 Row(address='36154 Rivera Neck Suite 961'),
 Row(address='2665 Lucas Street'),
 Row(address='07753 Buchanan Wells'),
 Row(address='907 Morgan Prairie Apt. 617'),
 Row(address='782 Clinton Coves'),
 Row(address='3863 Brandon Inlet'),
 Row(address='3238 Jennifer Ports Suite 468'),
 Row(address='31730 Williams Court'),
 Row(address='287 Jones Estate Apt. 088'),
 Row(address='32534 Brian Hills Suite 011'),
 Row(address='10932 Paul Ports Apt. 515'),
 Row(address='27547 Raven Junction'),
 Row(address='4098 Williams Forge'),
 Row(address='2882 Evans Rest Apt. 970'),
 Row(address='913 Lisa Walks'),
 Row(address='52257 Hopkins Parkway Apt. 026'),
 Row(address='659 Debra Square Apt. 197'),
 Row(address='20353 Tracy Crescent'),
 Row(address='006 Tara Heights Apt. 847'),
 Row(address='73411 Courtney Union'),
 Row(address='1858 Jay Extension'),
 Row(address='7946 Mark Pines'),
 Row(address='89202 Schneider Fords Apt. 105'),
 Row(address='2918 Baker Causeway Apt. 426'),
 Row(address='209 Cain Shoals'),
 Row(address='80710 Lisa Run Suite 203'),
 Row(address='2887 White Cliffs'),
 Row(address='97316 Moran Centers Suite 256'),
 Row(address='956 Underwood Freeway Apt. 542'),
 Row(address='66134 Amanda Village Apt. 255'),
 Row(address='210 Castillo Trafficway Suite 907'),
 Row(address='510 Scott Track Suite 237'),
 Row(address='8495 Alicia Common Suite 814'),
 Row(address='74812 Marcus Corners Apt. 732'),
 Row(address='674 White Centers Suite 417'),
 Row(address='16778 Rickey Valley'),
 Row(address='74639 Vanessa Ports Suite 759'),
 Row(address='8021 Gregory Square Suite 732'),
 Row(address='41772 Kevin Rue'),
 Row(address='55629 Virginia Island'),
 Row(address='8162 Vargas Court'),
 Row(address='40563 Ronald Plaza Suite 488'),
 Row(address='4104 Bishop Parkways'),
 Row(address='461 Jessica Pike Suite 709'),
 Row(address='30309 Young Avenue'),
 Row(address='061 Lamb Haven'),
 Row(address='116 Baker Camp Apt. 041'),
 Row(address='9077 Garcia Freeway Suite 660'),
 Row(address='083 Lindsey Burg Suite 285'),
 Row(address='832 Welch Trafficway Apt. 294'),
 Row(address='14634 Collier Station'),
 Row(address='98553 Davis Prairie Apt. 590'),
 Row(address='377 Arnold Meadow'),
 Row(address='663 Boyle Cape Apt. 525'),
 Row(address='31053 Smith Island'),
 Row(address='70932 Wheeler Locks Apt. 913'),
 Row(address='764 Barry Walks Apt. 790'),
 Row(address='09736 Amanda Prairie Suite 133'),
 Row(address='507 Carter Drive Suite 965'),
 Row(address='3521 John Skyway'),
 Row(address='936 Walker Squares'),
 Row(address='47455 Hernandez Way'),
 Row(address='831 Wright Overpass'),
 Row(address='528 Collier Bypass'),
 Row(address='6331 Christopher Street Suite 292'),
 Row(address='32589 Foster Park Apt. 749'),
 Row(address='79887 Beck Gateway Suite 284'),
 Row(address='3994 Elizabeth Island'),
 Row(address='27484 Mitchell Isle'),
 Row(address='05872 John Mill'),
 Row(address='06217 Smith Crest Suite 155'),
 Row(address='6305 John Rest Suite 256'),
 Row(address='017 Antonio Villages Suite 973'),
 Row(address='86091 Carolyn Springs'),
 Row(address='905 Kenneth Harbors Apt. 761'),
 Row(address='9073 Shaffer Ferry'),
 Row(address='31555 Gibson Mountain Apt. 360'),
 Row(address='67158 Bridges Inlet Suite 896'),
 Row(address='400 Barbara Mountains'),
 Row(address='551 John Estate'),
 Row(address='640 Nathan Underpass Apt. 339'),
 Row(address='181 Smith Stream Suite 873'),
 Row(address='391 Frank Well'),
 Row(address='09806 Sheryl Spur'),
 Row(address='28494 Jerry Forges Apt. 213'),
 Row(address='3051 Autumn Ridge Apt. 656'),
 Row(address='7894 Thornton Haven Suite 036'),
 Row(address='80316 Gray Junction Suite 446'),
 Row(address='19308 Rachel Trafficway Apt. 743'),
 Row(address='712 Amanda Stravenue'),
 Row(address='7228 Kristen Ridge Suite 926'),
 Row(address='61805 Johnson Rue'),
 Row(address='48956 Jeffrey Wells Apt. 101'),
 Row(address='961 Hayes Square Apt. 917'),
 Row(address='18268 Mario Manors'),
 Row(address='2241 Douglas Common'),
 Row(address='30022 Solis Common Apt. 554'),
 Row(address='341 Schneider Brook'),
 Row(address='883 Victor Tunnel Apt. 866'),
 Row(address='766 Patterson Cape Suite 806'),
 Row(address='430 Taylor Village Apt. 536'),
 Row(address='92143 Steven Square Apt. 369'),
 Row(address='85081 Johnson Spurs Apt. 550'),
 Row(address='716 Samuel Rapids Apt. 309'),
 Row(address='86960 Deborah Squares Suite 005'),
 Row(address='0713 Carroll Park Suite 827'),
 Row(address='594 Mitchell Points Apt. 380'),
 Row(address='51026 Franklin Spur Apt. 707'),
 Row(address='7696 Gary Fork'),
 Row(address='05681 Ryan Forge Suite 674'),
 Row(address='34052 Gregory Burg Suite 656'),
 Row(address='06456 Murphy Street Apt. 726'),
 Row(address='6416 James Row'),
 Row(address='2500 James Tunnel'),
 Row(address='753 James Manor'),
 Row(address='64907 Palmer Dale Suite 342'),
 Row(address='722 Jones Corners'),
 Row(address='8361 Flores Rue'),
 Row(address='4597 Moreno Lane Apt. 681'),
 Row(address='9461 Jimenez Row Apt. 901'),
 Row(address='86359 Ramirez Parkways'),
 Row(address='63857 Kim Dale'),
 Row(address='018 Harold Port Apt. 703'),
 Row(address='67972 Cynthia Mount'),
 Row(address='4783 Reynolds Fall'),
 Row(address='375 Houston Gateway Apt. 478'),
 Row(address='235 Bridges Orchard'),
 Row(address='485 Morgan Plaza Suite 328'),
 Row(address='73724 Graves Road Suite 489'),
 Row(address='493 Michael Gateway'),
 Row(address='9375 Leslie Greens'),
 Row(address='3471 Michael Wall Apt. 405'),
 Row(address='83862 Connie Springs Apt. 475'),
 Row(address='683 Ernest Row'),
 Row(address='499 Chelsea Drive Apt. 642'),
 Row(address='601 Calderon Hills Suite 091'),
 Row(address='97180 Hurst Streets Apt. 812'),
 Row(address='11288 Kathleen Bypass Suite 819'),
 Row(address='4045 Alex Wells'),
 Row(address='505 Elizabeth Shoals Apt. 286'),
 Row(address='21905 Edward Mews'),
 Row(address='9318 Sharp Estate'),
 Row(address='3958 Wallace Lakes'),
 Row(address='8079 Gonzales Circles'),
 Row(address='4514 Jack Village Apt. 453'),
 Row(address='57834 Jack Lights Suite 499'),
 Row(address='4464 Rivera Port Suite 947'),
 Row(address='8565 Heidi Passage Suite 158'),
 Row(address='209 Brown Skyway Suite 510'),
 Row(address='5619 Chris Mountain Apt. 306'),
 Row(address='5148 Natasha Square Apt. 170'),
 Row(address='2216 Cain Center Suite 426'),
 Row(address='6766 French Gardens'),
 Row(address='15619 Judith Street'),
 Row(address='674 Blanchard Wells Suite 469'),
 Row(address='761 Myers Mills Apt. 846'),
 Row(address='76143 Jeffrey Fall Suite 110'),
 Row(address='9080 Kathy Spring Suite 735'),
 Row(address='36297 Todd Island Apt. 865'),
 Row(address='172 Sloan Grove'),
 Row(address='548 Melissa Hills Apt. 344'),
 Row(address='227 Tara Gardens'),
 Row(address='67769 Ochoa Stravenue'),
 Row(address='81721 Abigail Prairie Suite 246'),
 Row(address='7577 Thompson River'),
 Row(address='153 Anna Green Suite 488'),
 Row(address='625 Michael Locks Apt. 659'),
 Row(address='045 William Summit Suite 935'),
 Row(address='1566 Burnett Point Apt. 820'),
 Row(address='89555 Troy Mill'),
 Row(address='361 Christopher Summit Apt. 078'),
 Row(address='4367 Matthew Ridges'),
 Row(address='5783 Heidi Lights Apt. 335'),
 Row(address='108 Brown Via Suite 746'),
 Row(address='9790 Keller Island Suite 913'),
 Row(address='11309 Smith Squares'),
 Row(address='964 Lane Orchard Suite 777'),
 Row(address='439 Vanessa Road Suite 247'),
 Row(address='986 Mark Burgs'),
 Row(address='30196 Amy Road'),
 Row(address='28446 Campbell Keys Apt. 717'),
 Row(address='77894 Peterson Run Apt. 572'),
 Row(address='36546 Daniel Rapid Suite 715'),
 Row(address='553 Herman Row'),
 Row(address='91576 Katherine Turnpike Apt. 325'),
 Row(address='50308 Elliott Ferry'),
 Row(address='4793 Rodney Drives Apt. 116'),
 Row(address='8639 Jose Keys Suite 329'),
 Row(address='9000 Amber Hills Apt. 528'),
 Row(address='212 Abbott Brooks Suite 086'),
 Row(address='33006 Barnett Gardens'),
 Row(address='20739 Sampson Mall Apt. 858'),
 Row(address='373 Tamara Mills'),
 Row(address='0603 Xavier Branch'),
 Row(address='25436 Shepherd Stravenue'),
 Row(address='123 Carrie Mill Suite 973'),
 Row(address='81118 Michelle Extensions'),
 Row(address='76141 Novak Locks Suite 212'),
 Row(address='164 Johnson Harbor'),
 Row(address='6587 Christopher Plaza'),
 Row(address='7605 Dyer Burgs Suite 223'),
 Row(address='05635 Kyle Parkways Suite 882'),
 Row(address='8583 Wilkerson Plains'),
 Row(address='2959 James Branch'),
 Row(address='973 Steven Neck Suite 933'),
 Row(address='517 Mitchell Creek Apt. 174'),
 Row(address='76956 Moss Bridge'),
 Row(address='03786 Robbins Gateway Suite 665'),
 Row(address='539 Steven Path Suite 554'),
 Row(address='422 Eric Passage'),
 Row(address='331 Conley Stravenue'),
 Row(address='56415 Billy Spur Apt. 343'),
 Row(address='3667 Ortiz Plains Apt. 278'),
 Row(address='322 Michelle Locks Apt. 322'),
 Row(address='029 David Coves'),
 Row(address='53412 Larry Mission Suite 163'),
 Row(address='22075 Jacob Loop'),

In [22]:
# read transaction data
transaction_210228 = spark.read.parquet("../data/tables/transactions_20210228_20210827_snapshot")
transaction_210828 = spark.read.parquet("../data/tables/transactions_20210828_20220227_snapshot")
transaction = transaction_210228.union(transaction_210828)

In [23]:
transaction.count()

8151372

In [24]:
transaction.limit(10)

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  18478| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|
|      2| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|
|  18479| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|
|      3| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|
|  18479| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|
|      3| 76819856970|  448.529684285612|5ace6a24-cdf0-4aa...|    2021-08-20|
|  18479| 67609108741|  86.4040605836911|d0e180f0-cb06-42a...|    2021-08-20|
|      3| 34096466752| 301.5793450525113|6fb1ff48-24bb-4f9...|    2021-08-20|
|  18482| 70501974849| 68.75486276223054|8505fb33-b69a-412...|    2021-08-20|
|      4| 49891706470| 48.89796461900801|ed11e477-b09f-4ae...|    2021-08-20|
+-------+------------+------------------+--------------------+--------------+

In [26]:
transaction.filter(F.col("order_datetime").isNull())

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

In [53]:
# merge all three dataset

consumer_transaction = consumer.join(transaction,['user_id'],how='inner')
full_transaction_dataset = consumer_transaction.join(final_merchant,['merchant_abn'],how='inner')

In [54]:
full_transaction_dataset

+------------+-------+-----------+------------+-----------------+-----+--------+------+------------------+--------------------+--------------+--------------------+--------------------+-------------+---------+
|merchant_abn|user_id|consumer_id|        name|          address|state|postcode|gender|      dollar_value|            order_id|order_datetime|                name|       business_area|revenue_level|take_rate|
+------------+-------+-----------+------------+-----------------+-----+--------+------+------------------+--------------------+--------------+--------------------+--------------------+-------------+---------+
| 33064796871|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 373.0873675184212|fe188788-b89f-4dd...|    2021-08-20|Curabitur Massa C...|computer programm...|            b|     3.75|
| 68435002949|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 232.5364986739752|b4a89891-a113-45e...|    2021-08-20|     Aliquam Eu Inc.|artist supply and...|            a|     6.65|
| 41944909975|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|30.910755230234322|302ae628-8eba-4a5...|    2021-08-20|  Et Nunc Consulting|books, periodical...|            e|     0.16|
| 21439773999|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 91.18655746114226|4524fdc9-73f0-477...|    2021-08-21|Mauris Non Institute|cable, satellite,...|            a|     6.10|
| 86662713230|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|  38.8137172956379|28f9e0f3-858d-445...|    2021-08-19|Vestibulum Accums...|watch, clock, and...|            a|     6.41|
| 61447419161|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|17.881767779834615|7745378a-3135-401...|    2021-08-22|   Mollis Dui In LLP|gift, card, novel...|            c|     2.06|
| 60956456424|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 70.03366022795622|931a2090-8e4a-453...|    2021-07-15|Ultricies Digniss...|gift, card, novel...|            b|     4.69|
| 21439773999|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|106.06535881800544|0f6c8ab1-263d-47e...|    2021-08-27|Mauris Non Institute|cable, satellite,...|            a|     6.10|
| 80518954462|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|229.26961859023157|41b219a2-51e4-454...|    2021-08-27|Neque Sed Dictum ...|computers, comput...|            b|     3.49|
| 68559320474|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|105.23501290036468|468265b3-4ceb-458...|    2021-08-13|Aliquam Auctor As...|antique shops - s...|            b|     4.20|
| 71094934182|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|23.847992892868245|684f7d5d-d9ec-496...|    2021-08-13|Nonummy Ipsum Non...|tent and awning s...|            c|     1.86|
| 22549192713|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|1944.0111358144945|08825dd4-43b7-40c...|    2021-07-16|Tincidunt Congue ...|hobby, toy and ga...|            a|     6.37|
| 49891706470|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 45.01573548050238|084a5937-4fd0-4e7...|    2021-07-23|Non Vestibulum In...|tent and awning s...|            a|     5.80|
| 31681476434|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 80.38683795438232|226123fa-e49d-4a2...|    2021-07-30|       Lorem Sit LLC|cable, satellite,...|            c|     2.22|
| 71528203369|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|188.12936323212864|26be58d5-eac9-4e2...|    2021-05-20|Ipsum Primis Asso...|watch, clock, and...|            a|     6.94|
| 28000487688|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female| 106.6824828676294|f8772406-d64c-464...|    2021-05-20| Sed Nunc Industries|books, periodical...|            b|     4.24|
| 67691683330|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|  789.514861659528|5f9466cc-eec3-4b8...|    2021-06-25|Integer Mollis In...|          shoe shops|            c|     1.47|
| 33163130598|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|238.35623980276978|fc0aef68-fb74-48b...|    2021-06-25|  Id Ante Associates|books, periodical...|            a|     5.64|
| 83690644458|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|123.80548648970499|b35f0505-2850-4db...|    2021-07-29|Id Erat Etiam Con...|gift, card, novel...|            b|     3.15|
| 14058755389|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|    4606|Female|13.530530929385566|089b1503-25b7-44c...|    2021-07-29|Vel Mauris Intege...|stationery, offic...|            a|     6.62|
+------------+-------+-----------+------------+-----------------+-----+--------+------+------------------+--------------------+--------------+--------------------+--------------------+-------------+---------+
only showing top 20 rows

In [33]:
# count the total transactions for each merchant
merchant_count = transaction.groupBy(F.col('merchant_abn')).count()

In [34]:
merchant_count.orderBy(F.col('count').asc())

+------------+-----+
|merchant_abn|count|
+------------+-----+
| 27508358370|    1|
| 80426072728|    1|
| 24212300522|    1|
| 39896168660|    1|
| 53852972654|    1|
| 39150153670|    1|
| 49369565194|    1|
| 18250330194|    1|
| 20884516643|    1|
| 73439079670|    1|
| 22883189698|    1|
| 27518736748|    1|
| 10441711491|    1|
| 22853038342|    1|
| 86201937910|    1|
| 34451067367|    1|
| 10404542215|    1|
| 22503967537|    1|
| 99989036621|    1|
| 86868464441|    1|
+------------+-----+
only showing top 20 rows

In [30]:
# check with mechant 64143552561 as it has th highest average cost 
final_merchant[final_merchant.merchant_abn=='64143552561'].collect()

[Row(name='Fusce Feugiat Associates', merchant_abn=64143552561, business_area='jewelry, watch, clock, and silverware shops', revenue_level='a', take_rate=' 5.88')]

In [31]:
# check transaction counts for this business
merchant_count[merchant_count.merchant_abn=='64143552561'].collect()

[Row(merchant_abn=64143552561, count=1)]

In [32]:
transaction[transaction.merchant_abn=='64143552561'].collect()

[Row(user_id=18438, merchant_abn=64143552561, dollar_value=49956.04011941749, order_id='dcc299e7-e991-4944-801a-4858959207d2', order_datetime=datetime.date(2021, 5, 17))]

In [36]:
# read postcode dataset
postcode = spark.read.csv('../data/2021Census_G02_AUST_POA.csv', header = True)
postcode

+-------------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
|POA_CODE_2021|Median_age_persons|Median_mortgage_repay_monthly|Median_tot_prsnl_inc_weekly|Median_rent_weekly|Median_tot_fam_inc_weekly|Average_num_psns_per_bedroom|Median_tot_hhd_inc_weekly|Average_household_size|
+-------------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
|      POA2000|                32|                         2800|                        941|               625|                     2367|                         1.3|                     2225|                   2.1|
|      POA2007|                30|                         2500|                        772|               500|                     2197|                         1.2|                     1805|                   2.1|
|      POA2008|                28|                         2600|                        860|               525|                     2453|                         1.2|                     1746|                   1.9|
|      POA2009|                37|                         2800|                       1297|               580|                     3035|                         1.1|                     2422|                   2.1|
|      POA2010|                36|                         2900|                       1479|               550|                     3709|                         1.1|                     2297|                   1.7|
|      POA2011|                39|                         2500|                       1534|               490|                     3565|                           1|                     2041|                   1.5|
|      POA2015|                34|                         2770|                       1582|               558|                     3514|                         1.1|                     2607|                   2.1|
|      POA2016|                36|                         2811|                       1191|               500|                     3263|                           1|                     2145|                   1.9|
|      POA2017|                32|                         2600|                       1216|               575|                     2684|                         1.1|                     2104|                   1.9|
|      POA2018|                34|                         2500|                        973|               520|                     2407|                           1|                     2017|                   2.3|
|      POA2019|                36|                         2773|                       1161|               550|                     2834|                         1.1|                     2363|                   2.6|
|      POA2020|                30|                         2600|                        993|               600|                     2394|                         1.2|                     2254|                   2.5|
|      POA2021|                37|                         3850|                       1652|               595|                     4589|                         0.9|                     2823|                   2.1|
|      POA2022|                36|                         3467|                       1342|               660|                     3460|                           1|                     2484|                   2.2|
|      POA2023|                39|                         3900|                       1575|               650|                     4509|                         0.9|                     3315|                   2.5|
|      POA2024|                38|                         3900|                       1512|               655|                     4259|                           1|                     3197|                   2.4|
|      POA2025|                42|                         4000|                       1638|               670|                     4557|                         0.9|                     3013|                   2.2|
|      POA2026|                34|                         3400|                       1503|               680|                     3685|                           1|                     2896|                   2.2|
|      POA2027|                46|                         3500|                       1709|               750|                     4558|                         0.9|                     3027|                     2|
|      POA2028|                39|                         3000|                       1662|               720|                     4250|                         0.9|                     3077|                   2.1|
+-------------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
only showing top 20 rows

In [48]:
postcode = postcode.withColumn("postcode", F.regexp_replace("POA_CODE_2021", "POA", ""))

In [56]:
# join postcode with the full dataset
full_dataset = full_transaction_dataset.join(postcode, on = "postcode")
full_dataset.limit(5)

+--------+------------+-------+-----------+------------+-----------------+-----+------+------------------+--------------------+--------------+--------------------+--------------------+-------------+---------+-------------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
|postcode|merchant_abn|user_id|consumer_id|        name|          address|state|gender|      dollar_value|            order_id|order_datetime|                name|       business_area|revenue_level|take_rate|POA_CODE_2021|Median_age_persons|Median_mortgage_repay_monthly|Median_tot_prsnl_inc_weekly|Median_rent_weekly|Median_tot_fam_inc_weekly|Average_num_psns_per_bedroom|Median_tot_hhd_inc_weekly|Average_household_size|
+--------+------------+-------+-----------+------------+-----------------+-----+------+------------------+--------------------+--------------+--------------------+--------------------+-------------+---------+-------------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
|    4606| 33064796871|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|Female| 373.0873675184212|fe188788-b89f-4dd...|    2021-08-20|Curabitur Massa C...|computer programm...|            b|     3.75|      POA4606|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 68435002949|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|Female| 232.5364986739752|b4a89891-a113-45e...|    2021-08-20|     Aliquam Eu Inc.|artist supply and...|            a|     6.65|      POA4606|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 41944909975|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|Female|30.910755230234322|302ae628-8eba-4a5...|    2021-08-20|  Et Nunc Consulting|books, periodical...|            e|     0.16|      POA4606|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 21439773999|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|Female| 91.18655746114226|4524fdc9-73f0-477...|    2021-08-21|Mauris Non Institute|cable, satellite,...|            a|     6.10|      POA4606|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 86662713230|      7|     511685|Andrea Jones|122 Brandon Cliff|  QLD|Female|  38.8137172956379|28f9e0f3-858d-445...|    2021-08-19|Vestibulum Accums...|watch, clock, and...|            a|     6.41|      POA4606|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
+--------+------------+-------+-----------+------------+-----------------+-----+------+------------------+--------------------+--------------+--------------------+--------------------+-------------+---------+-------------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+

In [57]:
full_dataset.drop("POA_CODE_2021", "name", "address")

+--------+------------+-------+-----------+-----+------+------------------+--------------------+--------------+--------------------+-------------+---------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
|postcode|merchant_abn|user_id|consumer_id|state|gender|      dollar_value|            order_id|order_datetime|       business_area|revenue_level|take_rate|Median_age_persons|Median_mortgage_repay_monthly|Median_tot_prsnl_inc_weekly|Median_rent_weekly|Median_tot_fam_inc_weekly|Average_num_psns_per_bedroom|Median_tot_hhd_inc_weekly|Average_household_size|
+--------+------------+-------+-----------+-----+------+------------------+--------------------+--------------+--------------------+-------------+---------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
|    4606| 33064796871|      7|     511685|  QLD|Female| 373.0873675184212|fe188788-b89f-4dd...|    2021-08-20|computer programm...|            b|     3.75|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 68435002949|      7|     511685|  QLD|Female| 232.5364986739752|b4a89891-a113-45e...|    2021-08-20|artist supply and...|            a|     6.65|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 41944909975|      7|     511685|  QLD|Female|30.910755230234322|302ae628-8eba-4a5...|    2021-08-20|books, periodical...|            e|     0.16|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 21439773999|      7|     511685|  QLD|Female| 91.18655746114226|4524fdc9-73f0-477...|    2021-08-21|cable, satellite,...|            a|     6.10|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 86662713230|      7|     511685|  QLD|Female|  38.8137172956379|28f9e0f3-858d-445...|    2021-08-19|watch, clock, and...|            a|     6.41|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 61447419161|      7|     511685|  QLD|Female|17.881767779834615|7745378a-3135-401...|    2021-08-22|gift, card, novel...|            c|     2.06|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 60956456424|      7|     511685|  QLD|Female| 70.03366022795622|931a2090-8e4a-453...|    2021-07-15|gift, card, novel...|            b|     4.69|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 21439773999|      7|     511685|  QLD|Female|106.06535881800544|0f6c8ab1-263d-47e...|    2021-08-27|cable, satellite,...|            a|     6.10|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 80518954462|      7|     511685|  QLD|Female|229.26961859023157|41b219a2-51e4-454...|    2021-08-27|computers, comput...|            b|     3.49|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 68559320474|      7|     511685|  QLD|Female|105.23501290036468|468265b3-4ceb-458...|    2021-08-13|antique shops - s...|            b|     4.20|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 71094934182|      7|     511685|  QLD|Female|23.847992892868245|684f7d5d-d9ec-496...|    2021-08-13|tent and awning s...|            c|     1.86|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 22549192713|      7|     511685|  QLD|Female|1944.0111358144945|08825dd4-43b7-40c...|    2021-07-16|hobby, toy and ga...|            a|     6.37|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 49891706470|      7|     511685|  QLD|Female| 45.01573548050238|084a5937-4fd0-4e7...|    2021-07-23|tent and awning s...|            a|     5.80|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 31681476434|      7|     511685|  QLD|Female| 80.38683795438232|226123fa-e49d-4a2...|    2021-07-30|cable, satellite,...|            c|     2.22|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 71528203369|      7|     511685|  QLD|Female|188.12936323212864|26be58d5-eac9-4e2...|    2021-05-20|watch, clock, and...|            a|     6.94|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 28000487688|      7|     511685|  QLD|Female| 106.6824828676294|f8772406-d64c-464...|    2021-05-20|books, periodical...|            b|     4.24|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 67691683330|      7|     511685|  QLD|Female|  789.514861659528|5f9466cc-eec3-4b8...|    2021-06-25|          shoe shops|            c|     1.47|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 33163130598|      7|     511685|  QLD|Female|238.35623980276978|fc0aef68-fb74-48b...|    2021-06-25|books, periodical...|            a|     5.64|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 83690644458|      7|     511685|  QLD|Female|123.80548648970499|b35f0505-2850-4db...|    2021-07-29|gift, card, novel...|            b|     3.15|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
|    4606| 14058755389|      7|     511685|  QLD|Female|13.530530929385566|089b1503-25b7-44c...|    2021-07-29|stationery, offic...|            a|     6.62|                52|                         1073|                        536|               220|                     1343|                         0.7|                     1003|                   2.2|
+--------+------------+-------+-----------+-----+------+------------------+--------------------+--------------+--------------------+-------------+---------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+
only showing top 20 rows